:root {
    /* Primary Colors */
    --very-dark-magenta    : hsl(300, 43%, 22%);
    --soft-pink            : hsl(333, 80%, 67%);
    /* Neutral Colors */
    --dark-grayish-magenta : hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white                : hsl(0, 0%, 100%);
    /* Base font size */

    font-size: 15px;
}

/* Initialization */
*,
::before,
::after {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

body {
    align-items     : center;
    background-color: var(--white);
    display         : flex;
    flex-direction  : column;
    font-family     : "League Spartan", sans-serif;
    justify-content : center;
    min-height      : 100vh;
    min-width       : 100vw;
    overflow        : hidden;
    padding         : 5vw 13vw;
    position        : relative;
}

.bg-image-top {
    left    : 0;
    position: absolute;
    top     : 0;
    width   : 35vw;
}

.bg-image-bottom {
    bottom  : 0;
    position: absolute;
    right   : 0;
    width   : 80vw;
}

main {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    gap            : 8vw;
    justify-content: space-between;
}

main .hero-section {
    width: 30vw;
}

main .hero-section h1 {
    color      : var(--very-dark-magenta);
    font-size  : 3.5vw;
    font-weight: 700;
    line-height: 3.25vw;
    width      : 80%;
}

main .hero-section p {
    color      : var(--dark-grayish-magenta);
    font-size  : 1.2vw;
    line-height: 1.75vw;
    margin-top : 1.5vw;
}

main .rating-group {
    width: 48.75%;
}

.rating {
    align-items     : center;
    background-color: var(--light-grayish-magenta);
    border-radius   : .5em;
    display         : flex;
    flex-direction  : row;
    gap             : 2.5vw;
    height          : max-content;
    padding         : 1.5vw 2vw;
    width           : 30vw;
}

.rating:not(:last-child) {
    margin-bottom: 1vw;
}

.rating .star-group {
    display       : flex;
    flex-direction: row;
    gap           : .5vw;
}

.rating .star-group img {
    width: 1vw;
}

.rating p {
    color      : var(--very-dark-magenta);
    font-size  : 1vw;
    font-weight: 700;
}

.rating:nth-child(2) {
    margin-left: 3vw;
}

.rating:nth-child(3) {
    margin-left: 6vw;
}

.testimonial-group {
    align-items   : center;
    display       : flex;
    flex-direction: row;
    gap           : 2vw;
    margin        : 4.5vw 0;
    width         : 100%;
}

.testimonial {
    background-color: var(--very-dark-magenta);
    border-radius   : .5em;
    color           : var(--white);
    height          : 15.5vw;
    padding         : 2.5vw 2.25vw;
    width           : 23vw;
}

.testimonial .author {
    align-items   : center;
    display       : flex;
    flex-direction: row;
    gap           : 1.25vw;
    margin-bottom : 1vw;
}

.testimonial .author .author-photo {
    border-radius: 50%;
    height       : 2.75vw;
    width        : 2.75vw;
}

.testimonial .author .name {
    font-size  : 1.15vw;
    font-weight: 500;
}

.testimonial .author .status {
    color        : var(--soft-pink);
    font-size    : 1.15vw;
    margin-bottom: -.25vw;
    margin-top   : .25vw;
}

.testimonial .testimony {
    font-size  : 1.05vw;
    line-height: 1.5vw;
    margin-top : 1.75vw;
}

.testimonial:nth-child(1) {
    margin-top: -2vw;
}

.testimonial:nth-child(3) {
    margin-top: 2vw;
}

.attribution {
    font-size : .8vw;
    margin-top: -2vw;
    text-align: center;
}

.attribution a {
    color: var(--soft-pink);
}

@media (max-width: 375px) {
    body {
        gap           : 9vw;
        overflow-y    : scroll;
        padding       : 21vw 6.5vw;
        padding-bottom: 0;
    }

    .bg-image-top {
        width: 100%;
    }

    .bg-image-bottom {
        width: 100%;
    }

    main {
        flex-direction: column;
        gap           : 10vw;
        width         : 100%;
    }

    main .hero-section {
        align-items   : center;
        display       : flex;
        flex-direction: column;
        text-align    : center;
        width         : 100%;
    }

    main .hero-section h1 {
        font-size  : 10vw;
        line-height: 9vw;
        width      : 80%;
    }

    main .hero-section p {
        font-size  : 4.5vw;
        line-height: 6.5vw;
    }

    main .rating-group {
        width: 100%;
    }

    .rating {
        flex-direction: column;
        gap           : 4vw;
        padding-bottom: 4vw;
        padding-top   : 4vw;
        width         : 100%;
    }

    .rating:not(:last-child) {
        margin-bottom: 2vh;
    }

    .rating .star-group {
        gap: 2vw;
    }

    .rating .star-group img {
        width: 4.5vw;
    }

    .rating p {
        font-size: 4.5vw;
    }

    .rating:nth-child(2),
    .rating:nth-child(3) {
        margin-left: 0;
    }

    .testimonial-group {
        flex-direction: column;
        gap           : 4.25vw;
    }

    .testimonial {
        height : 66.25vw;
        padding: 10.75vw 9vw;
        width  : 100%;
    }

    .testimonial:nth-child(1),
    .testimonial:nth-child(3) {
        margin-top: 0;
    }

    .testimonial .author {
        gap: 5.75vw;
    }

    .testimonial .author .author-photo {
        height: 10.5vw;
        width : 10.5vw;
    }

    .testimonial .author .name {
        font-size : 4.75vw;
        margin-top: -2vw;
    }

    .testimonial .author .status {
        font-size : 4.75vw;
        margin-top: 1vw;
    }

    .testimonial .testimony {
        font-size  : 4.5vw;
        line-height: 6vw;
        margin-top : 7vw;
    }

    .attribution {
        font-size: 3.25vw;
    }
}