:root {
    /* Primary Colors */
    --very-dark-magenta    : hsl(300, 43%, 22%);
    --soft-pink            : hsl(333, 80%, 67%);
    /* Neutral Colors */
    --dark-grayish-magenta : hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white                : hsl(0, 0%, 100%);
    /* Base font size */

    font-size: 15px;
}

/* Initialization */
*,
::before,
::after {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

body {
    align-items     : center;
    background-color: var(--white);
    display         : flex;
    flex-direction  : column;
    font-family     : "League Spartan", sans-serif;
    gap             : 4.25em;
    justify-content : center;
    min-height      : 100vh;
    min-width       : 100vw;
    overflow        : hidden;
    padding         : 7.75em 11em;
    position        : relative;
}

.bg-image-top {
    left    : 0;
    position: absolute;
    top     : 0;
    width   : 40%;
}

.bg-image-bottom {
    bottom  : 0;
    position: absolute;
    right   : 0;
    width   : 95%;
}

main {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    gap            : 4em;
    justify-content: space-between;
}

main .hero-section {
    width: 40%;
}

main .hero-section h1 {
    color      : var(--very-dark-magenta);
    font-size  : 3.75em;
    font-weight: 700;
    line-height: .9em;
}

main .hero-section p {
    font-size  : 1.25em;
    line-height: 1.5em;
    margin-top : 1em;
}

main .rating-group {
    width: 48.75%;
}

.rating {
    align-items     : center;
    background-color: var(--light-grayish-magenta);
    border-radius   : .5em;
    display         : flex;
    flex-direction  : row;
    gap             : 2.5em;
    height          : max-content;
    padding         : 1.25em 2em;
    width           : 30em;
}

.rating:not(:last-child) {
    margin-bottom: 1.25em;
}

.rating .star-group {
    display       : flex;
    flex-direction: row;
    gap           : .5em;
}

.rating p {
    color      : var(--very-dark-magenta);
    font-size  : 1.15em;
    font-weight: 700;
}

.rating:nth-child(2) {
    margin-left: 3.25em;
}

.rating:nth-child(3) {
    margin-left: 6.5em;
}

.testimonial-group {
    align-items   : center;
    display       : flex;
    flex-direction: row;
    gap           : 2em;
    width         : 100%;
}

.testimonial {
    background-color: var(--very-dark-magenta);
    border-radius   : .5em;
    color           : var(--white);
    height          : 15.5em;
    padding         : 2.5em 2.25em;
    width           : 23.3em;

}

.testimonial .author {
    align-items   : center;
    display       : flex;
    flex-direction: row;
    gap           : 1.5em;
    margin-bottom : 2em;
}

.testimonial .author .author-photo {
    border-radius: 50%;
    height       : 2.75em;
    width        : 2.75em;
}

.testimonial .author .name {
    font-size  : 1.1em;
    font-weight: 500;
}

.testimonial .author .status {
    color        : var(--soft-pink);
    font-size    : 1.1em;
    margin-bottom: -.25em;
}

.testimonial .testimony {
    font-size  : 1.1em;
    line-height: 1.25em;
}

.testimonial:nth-child(1) {
    margin-top: -2em;
}

.testimonial:nth-child(3) {
    margin-top: 2em;
}

.attribution {
    font-size : .9em;
    text-align: center;
}

.attribution a {
    color: var(--soft-pink);
}